---
--- 

html, body {
    font-family: 'Roboto', sans-serif!important;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.no-above-padding {
    margin-top: -50px;
}

div.w3-dropdown-hover:hover .fa-caret-right {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    transform: rotate(90deg)
}

table.smallGrid {
    border-collapse: collapse;
}

table.samllGrid, th, td {
    border: 1px solid black;
}

div.striped-w3>div:nth-child(odd) {
    background-color: lightgray;
    color: black;
}

.QuizBody h1 {
    text-align: center;
}

div.blank-inline {
    display: inline-block;
    color: black;
    width: 5px;
}

div.answer-inline {
    display: inline-block;
    border-bottom: 1px solid black;
    color: black;
    width: 30px;
    text-align: center;
}

    {% include key.css key_name="black_key" key_width=site.key_width key_height=site.black_height color=444 fade_color="0a0a0a" hover_color="afafaf" font_color="9090a0" %}

    {% include key.css key_name="white_key" key_width=site.key_width key_height=site.white_height color="dadaca" fade_color="cacaba" hover_color="f0f0a0" checked_color="a0a0b0" %}

.white_key {
    z-index: 0;
    /* border color */
    background: #000000;
}

.black_key {
    z-index: 1;
}

.keyboardPart {
    display: inline-block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nosplit {
    page-break-inside: avoid;
}

.nobreak {
    page-break-before: avoid;
    break-before: avoid;
}

.notAfter {
    break-before: page;
    page-break-before: auto;
    page-break-after: avoid;
    break-after: avoid;
}

.onTop {
    z-index: 100!important;
}

.my-input {
    width: 100%;
    min-height: 2em;
}

div.selectable:hover {
    background: lightgray;
    cursor: pointer;
}

input:checked+label div.selectable {
    background: darkgray;
}

.bottom_dot_seperated:not(:last-child) {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

.quizgen-dark-red {
    background-color: rgb(196, 43, 43)!important;
    color: white!important;
}

.quizgen-moderate-gray {
    background-color: rgb(100, 100, 100)!important;
    color: white!important;
}

.notselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.footer {
    display: flex!important;
}

.footer > footer {
    position: fixed!important; 
    bottom: 0px!important; 
    left: 0px!important;
}


/* w3-css small screen point */
@media only screen and (max-width:601px) {
    .footer > footer {
        position: static!important;
        margin-top: 32px;
    }

    .footer > #bottom_padding {
        display: none!important;
    }
}

@media print {
    .print-hide {
        display: none!important;
    }
    html {
        font-family: 'EB Garamond', serif!important;
        font-size: 16pt!important;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'EB Garamond', serif!important;
    }
    div.answer-inline, p {
        font-size: 22pt;
        font-family: 'EB Garamond', serif!important;
    }
    label {
        font-size: 20pt!important;
        font-family: 'EB Garamond', serif!important;
    }
}