div.w3-dropdown-hover:hover .fa-caret-right {
    -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    transform:rotate(90deg)
}

div.striped-w3 > div:nth-child(odd) {
    background-color:#646464;
    color: black;
}

.QuizBody h1 {
    text-align: center;
}