{% assign children=include.children %}
<script>
  var index = 0;
  function genRow(n) {
    {% include _keyboard_script.js index='n' %}

    return `{% include nested.html children=children %}`
  }

  function add_row(multi) {
    var count_to_increment = 1;
    if (typeof multi !== 'undefined' && multi) {
      count_to_increment = $('#multi_count').val();
      count_to_increment = parseInt(count_to_increment);
    }
    console.log('How many: ', count_to_increment);
    for(var i = 0; i < count_to_increment; i++) {
      row = $(`<div id="Row_${index}" class="w3-padding"></div>`)
      row.html(genRow(index));
      index += 1;
      $('#stack').append(row);
    }
    resize();

    return false;
  }

  function delete_row(n) {
    $('#Row_' + n).remove();
  }

  function pre_submit() {
    // check if #indexes already exists, and if so, delet it
    $('#indexes').remove();

    // compile list of valid IDs into hidden input then submit.

    var ids = [];
    $(".js-index").each(function () {
        ids.push($(this).val());
    });

    var form = $('form');
    
    var input = $('<input>').attr({
      type: 'hidden',
      id: 'indexes',
      name: 'indexes',
      value: ids,
    })

    form.append(input);

    console.log(ids);
    return true;
  }
</script>