<form action="/quiz.html" method="GET" target="_blank">
    <div class="striped-w3">
        <input type="hidden" value="" name="ID" id="_ID"/>
        <script>
            $('#_ID').val(Math.floor(Math.random() * 90000 + 1000));
        </script>
        {% assign count=0 %}
        {% for input in include.inputs %}
            {% assign lable_width='s2' %}
            {% if input[1]=>lable_width %}
            {% assign lable_width=input[1]=>lable_width %}
            {% endif %}

            {% assign child_width='s8' %}
            {% if input[1]=>child_width %}
            {% assign child_width=input[1]["child_width"] %}
            {% endif %}

            {% if input[1]=>type == "hidden" %}
                {% include basic_input.html %}
            {% else %}
                <div class="w3-row-padding w3-margin-top w3-margin w3-padding">
                    {% include input_selector inputs=input count=count width=child_width lable_width=lable_width %}
                </div>
            {% endif %}
        {% endfor %}
        <div class="w3-row-padding w3-margin-top w3-margin w3-padding">
            <input type="submit" class="w3-btn w3-black" value="Generate"/>
        </div>
    </div>
</form>
