{% assign quizType=include.quizType %}

<form id="_input_form" action="/quiz.html" method="GET" target="_blank" onsubmit=" return pre_submit()">
    <div>
      <input type="hidden" value="" name="ID" id="_ID" />
      <script>
        $('#_ID').val(Math.floor(Math.random() * 90000 + 1000));
      </script>
      {% assign count=0 %}
  
      <div id="stack" class="w3-margin-top striped-w3">
            {% for input in include.inputs %}
                {% include form_row.html %}
            {% endfor %}
      </div>    
  
      <div class="w3-row">
        <div class="w3-col s4">&nbsp;</div>
        <div class="w3-col s4 center"><button type="button" class="w3-btn w3-black" onclick="add_row()">+</button></div>
        <div class="w3-col s4 w3-right"><span>Add <input type="number" id="multi_count" value='5' style="width: 3em;"/> 
          <button type="button" id="multi_add" class="w3-btn w3-black" onclick="add_row(true)">+</button>
        </span></div>
        <script>
          $('#multi_count').keydown(addOnEnter);

          function addOnEnter(event) {
            if(event.key != 'Enter') {
              return;
            }
            event.preventDefault();

            add_row(true);
          }
        </script>
      </div>
  
      <div class="w3-row-padding w3-margin-top w3-margin w3-padding">
        <input type="submit" class="w3-btn w3-black" value="Generate" />
      </div>
    </div>
  </form>