<div class="w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button"><i class="fas fa-home"></i> Home</a>
    <a href="/about.html" class="w3-bar-item w3-button"><i class="fas fa-info-circle"></i> About</a>

    
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-medium w3-hide-large" onclick="showNav()">&#9776;</a>
    
            {% capture page_list %}
            {% for page in site.quizzes %}<a href="{{ page.url }}" class="w3-bar-item w3-mobile w3-button" {% if page.description %}title="{{ page.description }}"{% endif %}>{{ page.type }}</a>{% endfor %}
            {% endcapture %}

    <span class="w3-right w3-mobile js-collapse-nav w3-hide-small">
        <a class="w3-bar-item w3-button w3-mobile" href="/loadQuiz.html">Saved Quizzes</a>
        <div class="w3-dropdown-hover w3-black w3-mobile" onmouseover="showSmallNav(true)" onmouseout="showSmallNav(false)">
            <button class="w3-button w3-black w3-mobile">New Quiz <i class="fas fa-caret-right"></i></button>
            <div class="w3-dropdown-content w3-card-4 w3-hide-small w3-bar-block onTop">
                    {{ page_list }}
            </div>
            <div class="w3-hide js-page-list w3-hide-large w3-bar-block w3-mobile onTop">
                    {{ page_list }}
            </div>
        </div>
        <span class="w3-bar-item w3-padding w3-hide-small">&nbsp;</span>
        <span class="w3-bar-item w3-padding w3-hide-small">&nbsp;</span>
    </span>

    <script>
        function showNav() {
            $('.js-collapse-nav').toggleClass("w3-show").toggleClass("w3-hide-medium").toggleClass("w3-hide-small");
        }

        function showSmallNav(show) {
            if(show) {
                $('.js-page-list').addClass('w3-show');
            }
            else {
                $('.js-page-list').removeClass('w3-show');
            }
        }

        function myFunction() {
            var x = document.getElementById("demo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
</div>
