{% assign children=include.children %}
{% assign count=include.count %}

<div class="w3-row w3-margin-top w3-margin w3-container" style="padding: 0px;">
{% for input in children %}
    {% if input[1]=>type == "hidden" %}
        <!-- basic input -->
        {% include basic_input.html %}
    {% else %}
        <div class="w3-col s{{ input[1]=>width }}">
            <div class="w3-row w3-container">
            
            {% assign lable_width='s4' %}
            {% if input[1]=>lable_width %}
            {% assign lable_width=input[1]=>lable_width %}
            {% endif %}

            {% assign child_width='s8' %}
            {% if input[1]=>child_width %}
            {% assign child_width=input[1]["child_width"] %}
            {% endif %}
            <!-- input {{ input }} -->
            <!-- lable_width: {{ input[1]["lable_width"] }}-->
            {% include input_selector input=input count=count width=child_width lable_width=lable_width padding='padding: 0px!important;' %}
            </div>
       </div>
    {% endif %}
{% endfor %}
</div>
