---
type: Triad Identifying
layout: saveablequiz
qType: TriadID
description: "Generate staffs with triad notes and prompts to identify each triad"


inputs:
  quizType:
    type: hidden
    default: TriadID
    name: qType

  title:
    type: text
    default: 'Timed Triad Quiz, ID'
    name: title
    class: my-input
    lable_width: l2 m12 s12
    child_width: l6 m12 s12

  prompt:
    type: text
    default: 'Identify each triad with lead sheet symbols indicating root and quality.'
    name: prompt
    class: my-input
    lable_width: l2 m12 s12
    child_width: l6 m12 s12

  Quiz Header:
    type: textarea
    name: quizHeader
    class: my-input
    lable_width: l2 m12 s12
    child_width: l6 m12 s12

  Keys Per Line:
    type: number
    default: 6
    name: NPerLine
    max: 10

children:
  'index':
    type: hidden
    default: '${n}'
    class: 'js-index'

  '# of Triads':
    type: number
    default: 2
    name: 'NTriads${n}'
    width: 3
    lable_width: m5 s12
    child_width: m7 s12
  
  'Clef':
    type: select
    name: 'Clef${n}'
    width: 3
    lable_width: m3 s12
    child_width: m9 s12
    values:
      "Auto": "auto"
      "Treble": "treble"
      "Alto": "alto"
      "Bass": "bass"

  # from: https://www.oreilly.com/library/view/music-theory-for/30000LTI00240/30000LTI00240_ch17lev1sec3.html
  'Triad':
    type: select
    name: 'Triad${n}'
    width: 4
    lable_width: m3 s12
    child_width: m9 s12
    values:
      "Diminished": "dim"
      "Minor": "m"
      "Major": "M"
      "Augmented": "augmented"

  'X':
    type: button
    onclick: onclick="delete_row(${n})"
    width: 2

  'Starting Notes':
    type: keyboard_template
    name: 'BasePitches${n}[]'
    width: 12
    lable_width: m1 s3
    child_width: m11 s9
---

{% include _row_gen.html children=page.children %}

{% include form_multirow.html inputs=page.inputs %}
