<!doctype html>
<html lang="en">
  <head>
    {% include head_info.html %}
    <script src="/scripts/jquery_helpers.js"></script>
    {% include _keyboard_setup.html %}

    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Roboto&display=swap" rel="stylesheet">
    <script src="/scripts/getHelpers.js?{{ site.time | date: "%Y-%m-%d %H:%M" | url_encode }}"></script>
    

    {{ layout.extra_head }}
  </head>
  <body>
    <header>
      {% include nav.html %}
    </header>
    <div class="content">
      {{ content }}
    </div>

    <div style="display: flex;">
      <div id="bottom_padding" class="w3-padding">&nbsp;</div>
      <footer>
        <div class="w3-bar w3-dark-gray" style="position: fixed; bottom: 0px; left: 0px; width: 100%;">
          <div class="w3-row">
            <div class="w3-col s3 w3-bar-item">
              <a href="/" class="w3-button">QuizGen.MusciTheoryPractice.net</a>
            </div>
            <div class="w3-col s2 w3-bar-item">&nbsp;</div>
            <div class="w3-col s2 w3-bar-item w3-center">
              Hosted on: <a href="https://github.com/mshafer1/quizgen_music_theory" target="_blank" class="w3-button w3-black">GitHub <i class="fab fa-github"></i></a>
            </div>
            <div class="w3-col s2 w3-bar-item">&nbsp;</div>
            <div class="w3-col w3-right s3 w3-bar-item">
              Report issues: <a href="https://github.com/mshafer1/quizgen_music_theory/issues/new" target="_blank" class="w3-button w3-black">On GitHub</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>