---
layout: reloadablequiz
extra_head: "
<script src='/scripts/loadQuizData.js'></script>
<script src='/scripts/saveQuizData.js'></script>
<script>$(window).ready(load)</script>
"
---

<!-- TODO: make this only show on medium and larger and clone into menu for small -->
<button class="w3-right w3-margin-right w3-black w3-btn" style="position: sticky; top: 5px;" onclick="save()">
    <i class="fa fa-save"></i>
</button>

{{ content }}


<div id="saveDialog" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
        <header class="w3-container w3-dark-gray">
            <span onclick="_close_save_dialogue()" class="w3-button w3-black w3-display-topright">
                <i class="fa fa-times"></i>
            </span>
            <h2>Save As . . .</h2>
        </header>
        <div class="w3-container" >
            <div id="previousQuizList" class="w3-margin-top">

            </div>
            <div class="w3-row w3-margin-top w3-margin-bottom">
                <label><div class="w3-col s12 js_new_name js_save_option selectable">
                    New Name: <input type="text" id="_new_name_input" onclick="clear_selection(this)" oninput="set_selection(this)"/>
                </div></label>
            </div>
        </div>
        
        <footer class="w3-container w3-dark-gray" id="save_footer" style="display: none;">
        </footer>
    </div>
</div>

<script>
    var _key_holder = $('#qType').val();
    var target_path = 'quizes/' + _key_holder + '/';

    update_saved_quizes();
</script>