---
type: Intervals Identifying

inputs:
  quizType:
    type: hidden
    default: IntervalID
    name: qType

  notesPerLine:
    type: number
    default: 6
    name: NPerLine
    max: 10

children:
  'index':
    type: hidden
    default: '${n}'
    class: 'js-index'

  '# of Intervals':
    type: number
    default: 4
    name: 'NIntervals${n}'
    width: 4
    lable_width: m5 s12
    child_width: m7 s12
  
  'Clef':
    type: select
    name: 'Clef${n}'
    width: 2
    lable_width: m3 s12
    child_with: m9 s12
    values:
      "Treble": "treble"
      "Alto": "alto"
      "Bass": "bass"

  'Interval':
    type: select
    name: 'Interval${n}'
    width: 4
    lable_width: m3 s12
    child_width: m9 s12
    values:
      "Augmented unison": "A1"
      "Minor second": "m2"
      "Major second": "M2"
      "Augmented second": "A2"
      "Minor third": "m3"
      "Major third": "M3"
      "Augmented third": "A3"
      "Diminished third": "d3"
      "Diminished fourth": "d4"
      "Perfect fourth": "P4"
      "Augmented fourth": "A4"
      "Diminished fifth": "d4"
      "Perfect fifth": "P5"
      "Augmented fifth": "A5"
      "Minor sixth": "m6"
      "Major sixth": "M6"
      "Diminished sixth": "d6"
      "Augmented sixth": "A6"
      "Minor seventh": "m7"
      "Major seventh": "M7"
      "Diminished seventh": "d7"
      "Augmented seventh": "A7"
      "Perfect octave": "P8"
      "Diminished octave": "d8"
  
  'X':
    type: button
    onclick: onclick="delete_row(${n})"
    width: 2

  'Starting Notes':
    type: keyboard_template
    name: 'BasePitches${n}[]'
    width: 12
    lable_width: m1 s3
    child_width: m11 s9
---

{% include _row_gen.html children=page.children %}

{% include form_multirow.html inputs=page.inputs %}
